@using ViewClasses.Models
@using ViewClasses.Util

<p></p>
@{
    var sessionId = ViewData["sessionId"];
    var lecturer = (Lecturer) ViewData["lecturer"];
    var classes = (List<Class>) ViewData["classes"];
    var name = lecturer.FirstName + ", " + lecturer.LastName;
}

@using (Html.BeginForm("Index", "Logout", FormMethod.Post))
{
    <table align="center">
        <tr>
            <th>Lecturer:</th>
            <td>@name </td>
        </tr>
        <tr>
            <th>Practice:</th>
            <td>@lecturer.PracticeName</td>
        </tr>
    </table>

    <div style="line-height:10px">&nbsp;</div>

    <table align="center" border="1">
        <tr>
            <th>Courses</th>
            <th>Start</th>
            <th>End</th>
        </tr>

        @foreach (var _class in classes)
        {
            var start = Timestamp.dateFromTimestamp(_class.StartDate);
            var end = Timestamp.dateFromTimestamp(_class.EndDate);

            <tr>
                <td>@Html.ActionLink(@_class.CourseName, "CourseDetails", "Course",
                   new { courseId = @_class.CourseId }, null )</td>
                <td>@start</td>
                <td>@end</td>
            </tr>
        }
    </table>
}

<style>
    td, tr, th {
        padding: 2px;
    }
</style>
