@model CA_Application.Models.Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/CSS/Login.css" />
</head>

<body>
@{ 
    var error = ViewData["ErrorLogin"];
}
    <div id="login-div">
        @using (@Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <table align="center">
                <tr><th colspan="2" class="Login">Login</th> </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.Username)</th>
                    <td>@Html.TextBoxFor(x => x.Username)&nbsp;&nbsp;@Html.ValidationMessageFor(x => x.Username)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.Password)</th>
                    <td>@Html.PasswordFor(x => x.Password)&nbsp;&nbsp;@Html.ValidationMessageFor(x => x.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="button" value="Login" /></td>
                </tr>
                <tr><td></td><td class="field-validation-error">@error</td></tr>
            </table>
        }
    </div>
</body>
</html>
