@model CA_Application.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <style type="text/css">
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @{
            var error =(string) ViewData["output"];
        }
        @using (@Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            <table align="center">
                <tr>
                    <th>@Html.LabelFor(x => x.FullName)</th>
                    <td>@Html.TextBoxFor(x => x.FullName)&nbsp;&nbsp;@Html.ValidationMessageFor(x => x.FullName)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.Username)</th>
                    <td>@Html.TextBoxFor(x => x.Username)&nbsp;&nbsp;@Html.ValidationMessageFor(x => x.Username)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.Password)</th>
                    <td>@Html.PasswordFor(x => x.Password)&nbsp;&nbsp;@Html.ValidationMessageFor(x => x.Password)</td>
                </tr>
                <tr>
                    <td colspan="2" align="right"><input type="submit" value="Register" /></td>
                </tr>
                <tr><td><input type="text" readonly value="@error" class="field-validation-error"/></td></tr>
            </table>
        }
    </div>
</body>
</html>
