@model ViewClasses.Models.Login

@{
    ViewBag.Title = "Index";
}

<p></p>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <table align="center">
        <tr>
            <td>@Html.LabelFor(mod => mod.Username)</td>
            <td>@Html.TextBoxFor(mod => mod.Username)</td>
            <td>@Html.ValidationMessageFor(mod => mod.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Password)</td>
            <td>@Html.PasswordFor(x => x.Password)</td>
            <td>@Html.ValidationMessageFor(x => x.Password)</td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="Submit"></td>
        </tr>
    </table>
}

<style>
    .field-validation-error {
        color: darkred;
    }
    tr, td {
        padding: 2px
    }
</style>

